<div class="col-sm-4">
  <span class="product-title"><%= link_to product.title, product %></span>
  <span class="product-price pull-right"><%= product.price %></span>
  <%= link_to image_tag("400x300.png", class: "img-responsive"), product %>
</div>